* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #f1faf8, #e0e3e4);
}

button:disabled {
  cursor: not-allowed;
}

.myContainer {
  max-width: 1100px;
  margin: 90px auto;
  padding: 0 40px;
}

.btnProceed {
  padding: 10px;
  color: #fff;
  background-color: rgb(78, 33, 104);
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.opacity {
  opacity: 0.8;
}

.loginCard {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  min-height: 60vh;
}

.loginForm {
  min-height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.inputPrep {
  background-color: rgb(50, 5, 77);
  border-radius: 5px 0 0 5px;
}

.inputPrep > #basic-addon1 {
  background-color: rgb(50, 5, 77);
  border: none;
  height: 100%;
  color: #fff;
}

.tint {
  color: rgb(50, 5, 77);
}

.loginText {
  font-weight: 700;
  color: rgb(50, 5, 77);
  margin-bottom: 30px;
}

.loginInput {
  margin-top: 30px;
}

.ixap {
  margin-top: 20px;
}

.loginInputPass {
  margin-top: 30px;
}

.loginBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loginBtn {
  background-color: rgb(50, 5, 77);
  color: #ddd;
  font-weight: bold;
  border: none;
}

/* Admin dashboard styles */
.adminComponent {
  display: grid;
  grid-template-columns: 20% 80%;
  min-height: 100vh;
  background: linear-gradient(to right, #f1faf8, #e0e3e4);
}

.adminSideBar {
  background-color: rgb(50, 5, 77);
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  width: 100%;
  max-height: 100vh;
  padding: 20px 0;
  z-index: 9;
}

.admin-title {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgb(38, 9, 54);
  padding: 5px 0;
}

.mainScreenTop {
  background: linear-gradient(to right, #f1faf8, #e0e3e4);
  box-shadow: 0 3px 10px rgba(38, 9, 54, 0.2);
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.activities {
  margin-top: 5px;
  padding: 10px 30px;
}

.activityItem {
  cursor: pointer;
  padding: 5px 5px;
  margin: 10px 0;
}

.activityItem:hover {
  transform: scale(0.98);
}

.activity-text {
  color: aqua;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexNav {
  display: flex;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.dashItemCard {
  background-color: white;
  box-shadow: 0 3px 10px rgba(38, 9, 54, 0.2);
  padding: 10px 0;
  border-radius: 10px;
  border-left: 7px solid rgb(50, 5, 77);
  height: 150px;
}

.dashTop {
  border-bottom: 1px solid rgb(230, 226, 226);
}

.dashBottom {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.changePassRow {
  width: 50%;
  margin: 5px auto;
  background: linear-gradient(to right, #f1faf8, #e0e3e4);
  padding: 20px;
  border-radius: 5px;
}
